@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

.red-bg {
	background-color: $red;
	&:hover {
		background-color: darken($red, 10%);
	}
}

.blue-bg {
	background-color: $blue;
	&:hover {
		background-color: darken($blue, 10%);
	}
}

.pop-in {
	@include mui-animation(slide(in, up, 35px), fade(0,1), zoom(0.95, 1))
	animation-duration: .3s;
}

.pop-out {
	@include mui-animation(slide(out, down, 35px), fade(1,0), zoom(1, .95))
	animation-duration: .3s;
}

section {
	padding: 40px 15px 64px;
	position: relative;

	h1 {
		font-size: 56px;
		color: #62b136;
		font-weight: bold;
		text-align: center;
	}

	&.small {
		padding: 28px 15px 28px;

		h2 {
			font-weight: bold;
			font-size: 32px;
			margin-bottom: 50px;
			line-height: 1;
			color: #000000;
		}
	}

	h2 {
		font-size: 38px;
		text-transform: uppercase;
		margin-bottom: 25px;
		font-weight: 600;
		line-height: 1;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		&.large {
			font-size: 56px;
			font-weight: bold;
		}
	}
}

header {
	width: 100%;
	background: white;
	box-shadow: 0 5px 45px 0 rgba(0,0,0,.45);
	display: block;
	text-align: center;

	@include tablet {
		box-shadow: none;
	}

	.top {
		width: 100%;
		max-width: 1290px;
		margin: 0 auto;
		position: relative;
		padding-top: 36px;

		@include desktop {
			max-width: 900px;
		}

		@include tablet {
			height: 70px;
			padding: 0
		}

		#search {
			float: left;
			position: absolute;
			top: 104px;
			left: 0;
			width: 235px;
			display: inline-block;
			z-index: 2;

			@include desktop {
				top: 68px;
				width: 190px;
			}

			@include tablet {
				display: none;
			}

			input {
				border-radius: 5px;
				box-shadow:inset 2px 2px 15px 0 rgba(0,0,0,.15);
				border: 1px solid #B2B2B2;
			}
		}

		#logo {
			position: relative;
			text-align: center;

			img {
				margin: 0 auto;

				@include desktop {
					max-width: 390px;
				}

				@include tablet {
					max-width: 310px;
				}
			}

			@include tablet {
				position: absolute;
				top: 7px;
				left: 10px;
			}
		}
	}	

	nav {
		display: block;
		margin: 0 auto;


		@include tablet {
			background: #efefef;
			padding-top: 10px;
			visibility: hidden;
			position: absolute;
			top: 70px;
			width: 100%;
			left: 0;
			right: 0;
			pointer-events: none;

			&.open {
				pointer-events: auto;
				visibility: visible;
			}
		}

		ul {
			margin: 0;

			li {
				display: inline-block;
				float: none;

				@include tablet {
					display: block;
					width: 100%;
				}

				&.active {
					a {
						color: $red;
					}
				}

				a:not(.button) {
					font-weight: 600;
					text-transform: uppercase;
					color: #000;
					font-size: 18px;
					height: 30px;
					line-height: 30px;
					position: relative;
					padding: 0 18px 0 12px;
					letter-spacing: 1.5px;

					@include desktop {
						font-size: 14px;
						letter-spacing: 1px;
						height: 24px;
						line-height: 24px;
						padding: 0 9px 0 3px;
					}

					@include tablet {
						padding: 6px 0;
						display: block;
						height: auto;
						font-size: 18px;
					}

					&:hover {
						color: $red;
					}

					&::after {
						content: '';
						position: absolute;
						width: 1px;
						height: 100%;
						right: 0;
						top: 0;
						background: #9b9a9a;

						@include tablet {
							display: none;
						}
					}

					&.last {

						@include tablet {
							margin-bottom: 10px;
						}

						&::after {
							display: none;
						}
					}
				}

				a.button {
					font-size: 26px;
					font-weight: 900;
					text-transform: uppercase;
					padding: 0.75em .5em;
					margin-right: 4px;
					margin-bottom: 22px;

					@include desktop {
						font-size: 17px;
					}

					@include tablet {
						display: inline-block;
						width: 100%;
						margin: 0 auto;
						max-width: 320px;
						float: none;
					}
				}

				&.dropdown {
					position: relative;

					@include tablet {
						ul {
							display: none!important;
						}
					}
					
					ul {
						position: absolute;
						top: 100%;
						display: none;
						width: 500px;
						margin-left: -250px;
						left: 50%;

						li {
							a {
								font-size: 15px;
								padding: 0 5px;
								&:after {
									display: none;
								}
							}
						}
					}

					&:hover {
						ul {
							display: block;
						}
					}
				}
			}
		}
	}

	.menu-icon {
		position: fixed;
		z-index: 4;
		top: 12px;
		right: 12px;
		height: 44px;
		width: 44px;
		overflow: hidden;
		color: transparent;
		white-space: nowrap;
		text-indent: 100%;
		display: none;

		@include tablet {
			display: block;
		}

		span {
			position: absolute;
			height: 4px;
			width: 36px;
			background: $blue;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-webkit-transition: background 0.3s;
			transition: background 0.3s;

			&::before, &::after  {
				position: inherit;
				height: inherit;
				width: inherit;
				background: $blue;
				content: "";
				top: 0;
				left: 0;
				-webkit-transition: background 0.3s, -webkit-transform 0.3s;
				transition: background 0.3s, -webkit-transform 0.3s;
				transition: background 0.3s, transform 0.3s;
				transition: background 0.3s, transform 0.3s, -webkit-transform 0.3s;
			}

			&::before {
				transform: translateY(-12px);
			}

			&::after {
				transform: translateY(12px);
			}

			&:hover span {
				background: white;

				&::before, &::after {
					background: white;
				}
			}
		}

		&.menu-opened span {
			background: transparent;

			&::before {
				transform: rotate(-45deg);
				background: $red;
			}

			&::after {
				background: $red;
				transform: rotate(45deg);
			}
		}
	}
}

#slider {
	.owl-controls {
		position: relative;
		margin-top: -30px;


		.owl-page span {
			width: 7px;
			height: 7px;
			opacity: 1;
			background: white;
			margin: 5px 6px;
		}

		.owl-page.active span {
			background: #004e5e;
		}
	}

	.owl-item {
		position: relative;

		.background {
			height: 665px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			box-shadow:inset 0 0px 45px 0 rgba(0,0,0,.65);
		}

		.container {
			display: table;
			position: absolute;
			width: 100%;
			height: 665px;
			vertical-align: middle;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;

			.inner {
				display: table-cell;
				vertical-align: middle;

				h1 {
					font-size: 88px;
					line-height: 84px;
					color: $red;
					width: 600px;
					margin: 0 auto;
					font-family: 'Archer';
				}

				h2 {
					font-size: 54px;
					line-height: 1;
					color: $blue;
					width: 600px;
					margin: 0 auto 50px;
					font-family: 'Archer';
					font-style: italic;
				}

				.button {
					background: #ed5851;
					font-weight: 900;
					font-size: 25px;
					line-height: 32px;
					text-transform: uppercase;
					width: 220px;
					margin: 0 auto 50px;

					&:hover {
						background: darken(#ed5851, 10%);
					}
				}
			}
		}
	}
}

.standard-btn {
	font-weight: bold;
	font-size: 26px;
	padding: 18px 20px 16px;
	margin-bottom: 0;
}

.centered-img {
	display: block;
	margin: 0 auto 30px;
}

#be-a-part {
	text-align: center;

	h2 {
		color: #5dbdce;
	}

	.button {
		background: #5dbdce;
		
		&:hover {
			background: darken(#5dbdce, 10%);
		}
	}
}

#vision-3030 {
	h2 {
		color: #922280;
	}

	img {
		margin-bottom: 0;
	}
}

#latest-news, #in-the-news {
	background: #f8c149;

	.row {
		max-width: 1190px;
	}

	p {
		font-size: 26px;
		line-height: 32px;
		max-width: 250px;
		margin: 0 auto;
		font-family: serif;

		strong {
			color: white;
			display: block;
			font-size: 25px;
			line-height: 43px;
			font-weight: bold;
			font-family: "Brandon", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		}
	}

	.view-all {
		margin: 0 auto;
		text-align: center;
		display: block;
		color: black;
		font-weight: bold;
		font-size: 20px;
	}
}

#in-the-news {
	background: #ed5851;
}

#operation-prevention {
	text-align: center;

	.row {
		max-width: 1100px;
	}

	h2 {
		color: #a92c2c;
	}

	p {
		font-family: serif;
		font-size: 23px;
		line-height: 33px;
		max-width: 950px;
		margin: 0 auto 30px; 

		&.heading {
			font-family: "Brandon", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
			font-size: 35px;
			color: #922280;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 45px;

			strong {
				font-size: 42px;
				color: #62b136;
				display:block;
				margin-bottom: 10px;
			}
		}
	}

	.promise {
		padding: 10px 0 15px;

		span {
			color: #303030;
			font-size: 140px;
			line-height: 1;
			font-family: "Brandon", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
			font-weight: bold;
		}

		p {
			font-size: 66px;
			line-height: 68px;
			color: #5dbdce;
			font-family: "Brandon", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
			font-weight: bold;
		}


	}

	hr {
		max-width: 960px;	
		margin: 72px auto;
		border-bottom: 1px solid #bababe;
	}

	.standard-btn {
		background: white;
		border: 3px solid #d27505;
		color: #303030;

		&:hover {
			background: #d27505;
		}
	}

	.stats {
		.stat {
			display: table;
			height: 275px;
			width: 100%;
			background-size: cover;
			background-position: top center;
			position: relative;

			.container {
				display: table-cell;
				vertical-align: middle;
				font-size: 30px;
				line-height: 34px;
				color: white;
				font-family: serif;
				text-shadow: 0 0 16px #000000;

				span {
					display: block;
					font-size: 66px;
					line-height: 72px;
					font-weight: bold;
					font-family: "Brandon", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
					text-shadow: 0 0 19px #040404;
				}
			}

			&:after {
				content: '';
				background-image: url(../img/stat-shadow.jpg);
				background-size: 100% 100%;
				height: 31px;
				width: 100%;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
			}
		}
	}
}

.fancy-title {
	position: relative;
	margin-bottom: 30px;

	&:after {
		content: '';
		width: 100%;
		height: 1px;
		background-color: #c3c3c3;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	}
	
	h5 {
		color: white;
		display: inline-block;
		background-color: #922280;
		position: relative;
		height: 80px;
		line-height: 80px;
		font-size: 23px;
		font-weight: bold;
		width: 320px;
		overflow: visible;
		white-space:nowrap;
		z-index: 2;
		margin: 0;

		span {
			position: relative;
			z-index: 2;
			left: -3%;
		}

		&:before {
			border-right: 75px solid #922280;
			border-top: 40px solid transparent;
			border-bottom: 40px solid transparent;
			content: "";
			display: block;
			position: absolute;
			right: 100%;
			top: 0;
		}

		&:after {
			border-left: 75px solid #922280;
			border-top: 40px solid transparent;
			border-bottom: 40px solid transparent;
			content: "";
			display: block;
			position: absolute;
			left: 100%;
			top: 0;
		}
	}
}

.line-shadow {
	border-top: 1px solid #d6d6d6;
	height: 51px;
	width: 100%;
	background-image: url(../img/section-shadow.png);
	background-size: 100% 100%;
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 60px;

	
	&:before {

	}
}

#sponsors {
	text-align: center;
	padding-bottom: 0;

	.row {
		max-width: 1200px;
	}

	.container {
		display: table;
		width: 100%;
		text-align: center;

		span {
			display: table-cell;
			vertical-align: middle;
			margin: 0 auto;
			width: 100%;
		}

		img {
			
		}
	}
}

#member-gifts {
	padding-top: 0;

	.row {
		max-width: 1200px;
	}

	nav {
		width: 100%;

		.title, .list {
			display: inline-block;
			float: left;
			text-align: center;
		}

		.title {
			width: 210px;
			height: 60px;
			line-height: 60px;
			color: white;
			background: #af2c23;
			font-size: 24px;
			font-weight: bold;
			letter-spacing: .5px;
			position: relative;

			&:after {
				border-left: 45px solid #af2c23;
				border-top: 30px solid transparent;
				border-bottom: 29px solid transparent;
				content: "";
				display: block;
				position: absolute;
				left: 100%;
				top: 0;
			}
		}

		.list {
			position: relative;
			width: calc(100% - 210px);	

			.line-shadow {
				position: absolute;
				top: calc(100% - 1px);
				left: 0;
				right: 0;
				margin: 0;
				height: 30px;
			}
		}

		ul {
			
			margin: 0;
			border-top: 1px solid #d6d6d6;

			li {
				display: inline-block;
				float: none;
				height: 60px;
				line-height: 60px;
				font-size: 27px;
				color: #000000;
				padding: 0 25px;
			}
		}
	}
}

#news {
	.row {
		max-width: 1100px;
	}

	h1 {
		color: #ed5851;
		text-align: left;
	}

	article {

		text-align: left; 
		padding: 45px 0;
		border-bottom: 1px solid #bababe;

		.date {
			color: #000;
			font-size: 30px;
			font-weight: bold;
			display: block;
			line-height: 44px;
		}

		h2 {
			font-size: 32px;
			font-weight: bold;
			line-height: 40px;
			text-align: left;
			margin: 0 0 5px;
			color: #af2c23;
		}

		p {
			font-size: 26px;
			font-family: serif;
			line-height: 32px;

			.read-story {
				font-size: 19px;
				font-weight: bold;
				font-family: "Brandon", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
				color: #5dbdce;
				padding-left: 20px;
				white-space: nowrap;
			}
		}
	}

	&.alternate {
		h1 {
			color: #f8c149;
		}

		article {
			h2 {
				color: #62b136;
			}
		}
	}
}

#contact {

	.row {
		max-width: 1020px;
	}

	h1 {
		margin-bottom: 45px;
	}

	p {
		font-size: 22px;
		line-height: 32px;
		font-family: serif;
		margin-bottom: 30px;

		em {
			font-style: normal;
			color: #af2c23;
			display: block;
			margin-bottom: 8px;
			line-height: 32px;
		}

		a {
			font-weight: bold;
			color: black;
		}
	}
}

footer {
	text-align: center;

	p.donate { 
		margin-bottom: 40px;

		a {
			font-size: 29px;
			color: #004e5e;
			font-weight: 900;
			letter-spacing: .5px;

			span {
				color: #62b136;
			}
		}
	}	

	.social, .links {
		width: 50%;
		display: inline-block;
	}

	.social {
		line-height: 60px;
		height: 60px;
		float: left;
		text-align: right;
		background: #5dbdce;
		padding-right: 15px;

		.stat {
			display: inline-block;
			padding: 0 15px;
			line-height: 60px;
			font-size: 25px;
			color: white;
			font-weight: 600;

			i {
				margin-right: 15px;
				color: #065866;
			}
		}
	}

	.links {
		float: right;
		text-align: left;
		background: #ed5851;

		a {
			color: white;
			font-weight: 900;
			font-size: 25px;
			line-height: 60px;
			height: 60px;
			display: inline-block;
			float: left;

			&.screening {
				padding-left: 60px;
				padding-right: 100px;
				background: #f8c149;
			}

			&.our-programs {
				padding-left: 40px;
				position: relative;

				&:after {
					border-right: 45px solid #ed5851;
					border-top: 30px solid transparent;
					border-bottom: 30px solid transparent;
					content: "";
					display: block;
					position: absolute;
					left: -45px;
					top: 0;
				}
			}
		}
	}

	.bottom {
		background: #eee;
		width: 100%;
		padding: 20px 0 250px;
		display: block;
		clear: both;

		.text-left a {
			font-size: 21px;
			font-weight: 600;
			line-height: 50px;
			color: #004e5e;
		}

		.text-right {
			ul {
				li {
					display: inline-block;

					a {
						font-size: 33px;
						color: #004e5e;
						display: block;
						padding: 0 3px;
					}
				}


			}
		}

		.text-center {
			li {
				display: inline-block;
				float: none;
				line-height: 50px;
				font-size: 12px;
				padding: 0 15px;

				span {
					color: #303030;
					font-weight: 600;
				}

				a {
					color: #303030;
					text-decoration: underline;
					font-weight: 600;
				}
			}
		}
	}
}