<section id="sponsors">
	<div class="row">
		<div class="small-12 columns">
			<div class="fancy-title">
				<h5><span>THANK YOU TO OUR SPONSORS</span></h5>
			</div>
			<div class="row small-up-2 medium-up-4" data-equalizer data-equalize-on="medium">
				<div class="column">
					<div class="container" data-equalizer-watch>
						<span><img src="{{root}}assets/img/logo-aed-brands.png" alt="AED Brands"></span>
					</div>
				</div>
				<div class="column">
					<div class="container" data-equalizer-watch>
						<span><img src="{{root}}assets/img/logo-boston-scientific.png" alt="Boston Scientific"></span>
					</div>
				</div>
				<div class="column">
					<div class="container" data-equalizer-watch>
						<span><img src="{{root}}assets/img/logo-cardiac-insight.png" alt="Cardiac Insight"></span>
					</div>
				</div>
				<div class="column">
					<div class="container" data-equalizer-watch>
						<span><img src="{{root}}assets/img/logo-cardiac-science.png" alt="Cardiac Science"></span>
					</div>
				</div>
			</div>
			<div class="line-shadow"></div>
		</div>
	</div>
</section>

<section id="member-gifts">
	<div class="row">
		<div class="small-12 columns">
			<nav>
				<div class="title">
					MEMBER GIFTS
				</div>
				<div class="list">
					<ul>
						<li>Member Name</li>
						<li>Member Name</li>
						<li>Member Name</li>
						<li>Member Name</li>
					</ul>
					<div class="line-shadow"></div>
				</div>
			</nav>
		</div>
	</div>
</section>

<footer>
	<p class="donate"><a href="donate.html"><span>DONATE NOW</span> TO SUPPORT PROGRAMS THAT SAVE YOUNG LIVES</a></p>
	<div class="social">
		<div class="stat">
			<i class="fa fa-facebook"></i>1,233,456 LIKES
		</div>
		<div class="stat">
			<i class="fa fa-twitter"></i>13,003,123 LIKES
		</div>
	</div>
	<div class="links">
		<a class="screening" href="our-programs.html">FIND A SCREENING</a>
		<a class="our-programs" href="our-programs.html">OUR PROGRAMS</a>
	</div>
	<div class="bottom">
		<div class="row">
			<div class="small-12 medium-2 columns text-left">
				<a href="tel:18007175828">(800) 717-5828</a>
			</div>
			<div class="small-12 medium-8 columns text-center">
				<ul>
					<li><span>&copy;2016 PARENT HEART WATCH</li>
					<li><a href="#">PRIVACY POLICY</a></li>
					<li><a href="#">TERMS AND CONDITIONS</a></li>
				</ul>
			</div>
			<div class="small-12 medium-2 columns text-right">
				<ul>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>