  <header>
    <div class="top">
      <div id="search"><input type="text" name="search" id="s"></div>
      <div id="logo"><a href="index.html"><img src="assets/img/logo.png" alt="Logo"></a></div>
    </div>
    <nav>
      <ul>
        <li><a href="the-problem.html">The Problem</a></li>
        <li><a href="the-solution.html">The Solution</a></li>
        <li><a href="take-action.html">Take Action</a></li>
        <li><a href="our-stories.html">Our Stories</a></li>
        <li class="dropdown"><a href="#"">Resources</a>
          <ul>
            <li><a href="in-the-news.html">In The News</a></li>
            <li><a href="phw-latest-news.html">PHW Latest News</a></li>
          </ul>
        </li>
        <li><a href="events.html">Events</a></li>
        <li><a class="last" href="contact-us.html">Contact Us</a></li>
        <li class="buttons"><a href="donate.html" class="button red-bg">Donate</a></li>
        <li class="buttons"><a href="join.html" class="button blue-bg">Join</a></li>
      </ul>
    </nav>
    <button class="menu-icon"><span></span></button>
  </header>